@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Press Start 2P", system-ui;
  color: #fcfcfc;
  background-color: #211e21;
}

.title {
  padding: 40px;
  font-size: 40px;
  text-align: center;
  background-color: #352b35;
}

main {
  /* width: 50%; */
  margin: 40px auto;
  text-align: center;
}

/* MAIN HEADER */
.message {
  font-size: 28px;
}

.info {
  padding: 20px;
  font-size: 20px;
}

/* SCORE INFORMATION */
.score-container {
  padding: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.score-container .score-box {
  display: inline-block;
  margin: 0 60px;
}

.score-box .choice {
  margin-bottom: 10px;
  font-size: 64px;
}

/* OPTIONS */
.options {
  margin-bottom: 40px;
}

.options button {
  width: 160px;
  height: 160px;
  margin-right: 40px;

  align-items: center;
  justify-content: center;

  font-size: 64px;

  background-color: #65515f;
  border: 5px solid #4b3c43;
  border-radius: 12px;

  transition: all 0.1s ease-in-out;
}

.options button:last-child {
  margin-right: 0;
}

.options button:hover {
  background-color: #cf9fbf;
  border: 5px solid #8b677f;
  cursor: pointer;
}

/* NEW GAME */

.new-game {
  height: 60px;
  padding: 12px 18px;

  color: #3e3040;
  font-family: "Press Start 2P", system-ui;
  font-size: 16px;
  text-transform: uppercase;

  background-color: #d19ebd;
  border: 4px solid #8a6c7d;
  border-radius: 8px;

  cursor: pointer;
}

.new-game:hover {
  color: #fcfcfc;
  background-color: #cb90b4;
  border: 4px solid #816575;
}

.new-game:active {
  color: #fcfcfc;
  background-color: #bd75a1;
  border: 4px solid #725a68;
}

.options button:active,
.new-game:active {
  transform: translateY(2px);
}
